<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymxexample.mapper.AuthorityMapper">
    <select
            id="getAuthorityListByUsername"
            parameterType="String"
            resultType="Authority"
    >
        select a.*
        from t_customer c, t_authority a,t_customer_authority ca
        where  c.id = ca.customer_id and a.id = ca.authority_id
        and username = #{username}
    </select>
</mapper>