<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户个人信息</title>

<!--    <link th:href="@{/login/css/mycss.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/login/css/signin.css}" rel="stylesheet">-->
<!--    <link th:href="@{/login/css/bootstrap.min.css}" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/login/css/semantic.css}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" th:href="@{/login/css/profile.css}" media="screen" title="no title" charset="utf-8">
</head>
<body >
<a th:href="@{/}" ><h3 style="margin-left: 5%;margin-top: 2%;color: black">返回</h3></a>
<br>
<!--<form method="post" >-->
<div class="ui basic segment container content" style="width: 1000px">
    <h1 class="ui center aligned header">用户个人信息</h1>
    <div class="ui form">
<!--        <div class="field">-->
<!--            用户: <span sec:authentication="name" style="color: #0e69cb"></span> <br>-->

<!--            您的权限：<span sec:authentication="principal.authorities" style="color:#66c256"></span><br>-->
<!--            您的密码:<span sec:authentication="principal.password" style="color:#66c256"></span>-->
<!--        </div>-->

        <div class="field" align="center">
            <table border="0"  width="60%"  >
                <tr th:each="customer : ${customerList}">
                    <th  width="150px">您的账号:</th>
                    <td th:text="${customer.username}" >sss</td>


                </tr>
                <tr th:each="customer : ${customerList}">
                    <th >您的密码:</th>
                    <td th:text="${customer.password}">sss</td>

                </tr>
                <tr th:each="authority : ${authorityList}">
                    <th >会员等级:</th>
                    <td th:text="${authority.authority}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--<h1>用户个人信息</h1>-->
<br>

<hr>

<br>



<div class="ui basic segment container content">
    <h1 class="ui center aligned header">个人资料修改</h1>
    <div class="ui form">

        <form method="post" class="form-signin" th:action="@{/updateUser}">

            <div class="field">
                <input type="text"  name="username" required="" placeholder="请输入新用户名"/>
<!--                <input type="text" placeholder="用户名">-->
            </div>

            <div class="field">
                <button type="" class="ui red button register">修改用户名</button>
            </div>
            <br>
        </form>
<hr>
        <form method="post" class="form-signin" th:action="@{/updatePwd}">

            <div class="field">
                <input type="password"  name="oldpassword" required="" placeholder="请输入旧密码"/>
<!--                <input type="text" placeholder="密码">-->
            </div>
            <div class="field">
                <input type="password"  name="password" required="" placeholder="请输入新密码"/>
<!--                <input type="text" placeholder="密码">-->
            </div>
            <div class="field">
                <input type="password"  name="renewpwd" required="" placeholder="请再次输入新密码"/>
<!--                <input type="text" placeholder="密码">-->
            </div>
            <div class="field">
                <button type="" class="ui red button register">修改密码</button>
            </div>

        </form>


    </div>
</div>
<div class="ui basic segment container footer">
    <div class="bottom">
        <div class="ui divider"></div>
        <button type="button" name="button" class="ui circular red button backtoindex">
            <a th:href="@{/}">
                <img th:src="@{login/img/login/homeicon.png}" style="position:absolute;left:18%;top:10%;">
                <h4>首页</h4>
            </a>

        </button>
        <div class="ui image title">
            <img th:src="@{login/img/login/zhiribao.png}" alt="" />
        </div>
    </div>
</div>

</body>
</html>